{{> heads}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1> Comac SPA </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa autem modi nam quas, sit laudantium reprehenderit ratione repudiandae aspernatur, placeat cumque magnam mollitia, fugiat atque nemo laborum? Aut, nobis quia.
        </p>
    </div>

    <div class="col-20">
        <img src="assest/img/logo.jpg" alt="100" class="img-thumbnail">
    </div>

</div>



{{> footer}}